<div class="title_banner">
  <div class="container" style="width:1230px;">
    <h1>One click away for Land Registry</h1>
    <h2>Online Land Records</h2>
  </div>
</div>
<div *ngIf="template==='form1';then approveForm1 else approveForm2" ></div>
<ng-template #approveForm1>
<div class="container">
  <div class="titlebar">Approve registration for Layout <img src="/assets/images/user_icon.png">
    <div class="dropdown" style="float: right;">
      <button style="background-color: transparent; border: 0px; text-transform: uppercase; color:#27bed9; font-size: 14px;" type="button" data-toggle="dropdown">KAPPROVER <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <app-logout></app-logout>
      </ul>
    </div>
  </div>
  <div class="mojani_form">
    <h2>Search Criteria</h2>
    <div class="form-group block">
      <div class="col-md-4">
        <label for="wardNo" required>Ward # <span class="red">*</span></label>
        <input type="text" id="wardNo" class="form-control" name="wardNo"  [(ngModel)]="wardNo"  />
      </div>
      <div class="col-lg-4">
        <label>Plot/Site No.</label>
        <input type="submit" value="Search" (click)= "search()">
      </div>
      <div class="clearfix"></div>
    </div>
    <hr />  
    <!--Search results of the land records for approval -->
    <div *ngIf= "fetchComplete" >
      <div class="block">
        <table class="table table-striped table-hover table-responsive">
          <tr>
            <th>Transaction ID</th>
            <th>Property ID</th>
            <th>Ward No</th>
            <th>Area Code</th>
            <th>Site No</th>
            <th>Total Area</th>
            <th>Approve/Reject</th>
          </tr>
          <tbody *ngIf='!noSearchResults'>
            <tr *ngFor="let land of landRecords">
              <td><a (click) = "viewData(land.txnID)" style="cursor: pointer;">{{land.txnID}}</a></td>
              <td>{{land.pid}}</td>
              <td>{{land.wardNo}}</td>
              <td>{{land.areaCode}}</td>
              <td>{{land.siteNo}}</td>
              <td>{{land.geoData.totalArea}}</td>
              <td><input type="checkbox" name='approval'  [(ngModel)]='land.isKaveriApproved'  #approval="ngModel" /></td>
            </tr>
          </tbody>
          <tbody *ngIf='noSearchResults'>
            <tr>
              <td colspan="7"><div style='color:red;' align='center'><strong>No matching results found !</strong></div></td>
            </tr>
          </tbody>
        </table> 
      </div>
      <br/>
      <div *ngIf='!noSearchResults' align='center'>
        <button type="submit" class="btn btn-danger" (click)= "onReject()"><span class="glyphicon glyphicon-remove-sign"></span> Reject</button>
        <button type="submit" class="btn btn-success" (click)= "onSubmit()"><span class="glyphicon glyphicon-ok-sign"></span> Approve</button>
      </div>
      <br>
    </div>
  </div>
</div>
</ng-template>
<ng-template #approveForm2>
  <ng-container *ngIf="template==='form2';else applicationSuccess">
    <div class="container">
      <div class="titlebar">Approve registration for Layout <img src="/assets/images/user_icon.png">
        <div class="dropdown" style="float: right;">
          <button style="background-color: transparent; border: 0px; text-transform: uppercase; color:#27bed9; font-size: 14px;" type="button" data-toggle="dropdown">KAPPROVER <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <app-logout></app-logout>
          </ul>
        </div>
      </div>
      <div class="mojani_form">
        <div class="applicationForm">
          <form class="form-horizontal" [formGroup]="layoutForm" (ngSubmit)="onSubmit()">
            <fieldset disabled>
              <h2 >Land Details</h2>
              <div class="form-group block">
                <div class="col-md-4" [ngClass]="displayFieldCss('pid')">
                  <label for="pid" class="required">PID</label>
                  <input type="text" id="pid" class="form-control" formControlName="pid" readonly />
                  <app-show-validation-error [displayError]="isFieldValid('pid')" errorMsg="PID is mandatory"></app-show-validation-error>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="form-group block">
                <div class="col-md-4" [ngClass]="displayFieldCss('wardNo')">
                  <label for="wardNo" class="required">Ward #</label>
                  <input type="text" id="wardNo" class="form-control" formControlName="wardNo" readonly/>
                  <app-show-validation-error [displayError]="isFieldValid('wardNo')" errorMsg="Ward # is mandatory"></app-show-validation-error>
                </div>
                <div class="col-md-4" [ngClass]="displayFieldCss('areaCode')">
                  <label for="areaCode" class="required">Area Code</label>
                  <input type="text" id="areaCode" class="form-control" formControlName="areaCode" readonly/>
                  <app-show-validation-error [displayError]="isFieldValid('areaCode')" errorMsg="Area code is mandatory"></app-show-validation-error>
                </div>
                <div class="col-md-4" [ngClass]="displayFieldCss('siteNo')">
                  <label for="siteNo" class="required">Plot/Site #</label>
                  <input type="text" id="siteNo" class="form-control" formControlName="siteNo" readonly />
                  <app-show-validation-error [displayError]="isFieldValid('siteNo')" errorMsg="Plot/Site # is mandatory"></app-show-validation-error>
                </div>
              </div>
              <hr/>
              <h2>Geographic Data</h2>
              <div formGroupName="geoData">
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('geoData.latitude')">
                    <label for="latitude" class="required">Latitude</label>
                    <input type="text" id="latitude" class="form-control" formControlName="latitude" (change)="setGeoCordinates()" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('geoData.latitude')" errorMsg="Latitude is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('geoData.longitude')">
                    <label for="Longitude" class="required">Longitude</label>
                    <input type="text" id="longitude" class="form-control" formControlName="longitude" (change)="setGeoCordinates()" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('geoData.longitude')" errorMsg="Longitude is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('geoData.length')">
                    <label for="length" class="required">Plot Length (ft.)</label>
                    <input type="text" id="length" class="form-control" formControlName="length" (change) = "calculateTotalArea()" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('geoData.length')" errorMsg="Plot length is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('geoData.width')">
                    <label for="width" class="required">Plot Width (ft.)</label>
                    <input type="text" id="width" class="form-control" formControlName="width" (change) = "calculateTotalArea()" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('geoData.width')" errorMsg="Plot width is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4">
                    <label for="width">Total Plot Area (sq. ft.)</label>
                    <input type="text" id="width" class="form-control" formControlName="totalArea" readonly />
                  </div>
                </div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('geoData.address')">
                    <label for="address" class="required">Property Address</label>
                    <textarea type="text" id="address" class="form-control" formControlName="address" readonly></textarea>
                    <app-show-validation-error [displayError]="isFieldValid('geoData.address')" errorMsg="Plot address is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-8" *ngIf="lat && long">
                    <label> </label>
                    <app-gmaps [lat]="lat"  [lng]="long"></app-gmaps>
                  </div>
                </div>
              </div>
              <hr/>
              <h2>Pre Mutation Sketch</h2>
              <div class="form-group block">
                <div class="col-md-4" *ngIf="sketchURL!=null && sketchURL!=''">
                  <a [href]='sketchURL' target = '_blank'>View Sketch</a>
                </div>
              </div>
              <hr/>
              <h2>Land Allottee Details</h2>
              <div formGroupName="ownerDetails">
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.ownerName')">
                    <label for="ownerName" class="required">Allottee Name</label>
                    <input type="text" class="form-control" id="ownerName" formControlName="ownerName" readonly>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.ownerName')" errorMsg="Property allotee Name is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.aadharNo')">
                    <label for="aadharNo" class="required">Aadhar #</label>
                    <input type="text" id="aadharNo" class="form-control" formControlName="aadharNo" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.aadharNo')" errorMsg="Aadhar # is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.gender')">
                    <div> <label class="required">Gender</label></div>
                    <label class="md-check radio-inline">
                      <input type="radio" value="M" formControlName="gender">Male
                    </label>
                    <label class="md-check radio-inline">
                      <input type="radio" value="F" formControlName="gender">Female
                    </label>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.gender')" errorMsg="Gender is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.mobileNo')">
                    <label for="mobileNo" class="required">Mobile</label>
                    <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.mobileNo')" errorMsg="Mobile number is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.emailID')">
                    <label for="emailID" class="required">Email ID</label>
                    <input type="text" id="emailID" class="form-control" formControlName="emailID" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.emailID')" errorMsg="Email ID is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('ownerDetails.address')">
                    <label for="ownerAddress" class="required">Allottee Address</label>
                    <textarea type="text" id="ownerAddress" class="form-control" formControlName="address" readonly></textarea>
                    <app-show-validation-error [displayError]="isFieldValid('ownerDetails.address')" errorMsg="Allotee address is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <h2>New allotee Details</h2>
              <div formGroupName="newOwnerDetails">
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.ownerName')">
                    <label for="newownerName" class="required">Allottee Name</label>
                    <input type="text" class="form-control" id="newownerName" formControlName="ownerName" readonly>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.ownerName')" errorMsg="Property allotee Name is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.aadharNo')">
                    <label for="newaadharNo" class="required">Aadhar #</label>
                    <input type="text" id="newaadharNo" class="form-control" formControlName="aadharNo" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.aadharNo')" errorMsg="Aadhar # is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.gender')">
                    <div> <label class="required">Gender</label></div>
                    <label class="md-check radio-inline">
                      <input type="radio" value="M" formControlName="gender">Male
                    </label>
                    <label class="md-check radio-inline">
                      <input type="radio" value="F" formControlName="gender">Female
                    </label>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.gender')" errorMsg="Gender is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.mobileNo')">
                    <label for="newmobileNo" class="required">Mobile</label>
                    <input type="text" id="newmobileNo" class="form-control" formControlName="mobileNo" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.mobileNo')" errorMsg="Mobile number is mandatory"></app-show-validation-error>
                  </div>
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.emailID')">
                    <label for="newemailID" class="required">Email ID</label>
                    <input type="text" id="newemailID" class="form-control" formControlName="emailID" readonly/>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.emailID')" errorMsg="Email ID is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group block">
                  <div class="col-md-4" [ngClass]="displayFieldCss('newOwnerDetails.address')">
                    <label for="newownerAddress" class="required">Allottee Address</label>
                    <textarea type="text" id="newownerAddress" class="form-control" formControlName="address" readonly></textarea>
                    <app-show-validation-error [displayError]="isFieldValid('newOwnerDetails.address')" errorMsg="Allotee address is mandatory"></app-show-validation-error>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <hr/>
              <h2>Sale Details</h2>
              <div class="form-group block">
                <div class="col-md-4" [ngClass]="displayFieldCss('saleRate')">
                  <label for="saleRate" class="required">Sale Rate</label>
                  <input type="text" id="saleRate" class="form-control" formControlName="saleRate" readonly/>
                  <app-show-validation-error [displayError]="isFieldValid('saleRate')" errorMsg="Sale Rate is mandatory"></app-show-validation-error>
                </div>
              </div>
              <div class="clearfix"></div>
            </fieldset>                  
            <div align="center">
              <button class="btn btn-danger" (click) = "back()"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
            </div>
            <br>    
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
<!--Success message for the approval-->
<ng-template #applicationSuccess >
  <div class="container">
    <div class="alert alert-success"> <strong>Success!</strong>
      All the below approved/Rejected records have been updated. Their unique Transaction Ids are listed below :
      <ul *ngFor= "let rec of approvedRecords">
        <li>{{rec.txnID}}</li>
      </ul>
    </div>
    <div class="alert alert-info">
      Please click on <strong>OK</strong> to approve/Reject other applications !
    </div>
    <div align="center"><button type="submit" class="btn btn-success" (click)="submitNew()">OK</button></div>
    <br/>
    <iframe src="http://blockdatalandrecord.mybluemix.net/" style="height: 678px;width: 1142px;"></iframe>
  </div>
</ng-template>