<div class="home_banner">
  <div class="container">
    <h2>Kaveri</h2>  
    <div class="login_container">
      <h2>SIGN IN</h2>
      <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin)" novalidate> 
      <div class="form-group" [ngClass]="{ 'has-error': userlogin.submitted && !username.valid }">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="login.username" #username="ngModel" required>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': userlogin.submitted && !password.valid }">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="login.password" #password="ngModel" required>
      </div>        
      <div class="form-group">
          <input type="submit" value="LOG IN">
      </div> 
      <div *ngIf="authMessage && authMessage!=''" class="alert alert-danger" ><b>{{authMessage}}</b></div>    
      </form>
    </div>
  </div>
</div>
